# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*-dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
**/agent-eval-report*
packages
pids
.file-manifest
.devcontainer/

.spark-workbench-id

# Laravel
/vendor/
/public/hot
/public/storage
/storage/*.key
/.vagrant
Homestead.json
Homestead.yaml

# Environment
.env.backup
.env.production

# Database
/database/database.sqlite
/database/*.sqlite
/database/*.sqlite-journal

# Build
/public/build

# IDE
/.fleet
